<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta -->
    <meta charset="UTF-8"/>

    <title>Mensagem</title>
</head>
<body>
<h1>Mensagem - formulário</h1>

<form th:action="@{/mensagem/save}" method="post" th:object="${mensagem}">
    <input type="hidden" th:field="*{id}" />
    <p>Assunto: <input type="text" th:field="*{assunto}"/></p>
    <p>Mensagem: <input type="text" th:field="*{mensagem}"/></p>
    <p><input type="submit" value="Salvar"/></p>
</form>
<a th:href="@{/mensagem}">Home</a>
</body>
</html>