<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- meta -->
    <meta charset="UTF-8"/>

    <title>Mensagem</title>
</head>
<body>
<h1>Mensagem - consulta</h1>

<form th:action="@{/mensagem}" method="get" th:object="${mensagem}">
    <p>Assunto: <input type="text" th:field="*{assunto}"/></p>

    <p><input type="submit" value="Consultar"/></p>
</form>

<a th:href="@{/mensagem/create}">Nova mensagem</a>

<hr size="1"/>

<div th:if="${resultadoConsulta != null}">
    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Assunto</th>
                <th>Mensagem</th>
                <th>Editar/Excluir</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="msg : ${resultadoConsulta}">
                <td th:text="${msg.id}">Id</td>
                <td th:text="${msg.assunto}">Assunto</td>
                <td th:text="${msg.mensagem}">Mensagem</td>
                <td>
                    <a th:href="@{|/mensagem/update/${msg.id}|}">Editar</a>
                    <a th:href="@{|/mensagem/delete/${msg.id}|}">Excluir</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>